<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property resource="application.properties" />

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        </encoder>
    </appender>

    <root level="${logging.level}">
        <appender-ref ref="Console" />
    </root>
</configuration>